@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}

body {
  background-color: whitesmoke;
  padding: 0 15px;
}

header {
  height: 20vh;
}

.header-inner {
  max-width: 500px;
  margin: 0 auto;
}

.logo-wrap {
  padding-top: 20px;
  padding-bottom: 5px;
  color: #0da7de;
}

.hide {
  display: none;
}

.error {
  color: #ff9600;
  text-align: center;
}

.todo-add {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 0 2px black;
}

.todo-add * {
  background-color: transparent;
  text-shadow: 0 0 1px grey;
  font-size: 24px;
  outline: none;
  border: none;
  font-weight: lighter;
}

.todo-add > input {
  width: 75%;
  padding: 3px;
  color: #0da7de;
}

.todo-add > button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #0da7de;
  color: whitesmoke;
  width: 25%;
}

.todo-add > button:active {
  background-color: #0d91de;
}

.main-inner {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.main-inner ul {
  margin-top: 30px;
  list-style: none;
}

.main-inner ul h2 {
  color: #ff9600;
  text-align: center;
}

.main-inner ul li {
  box-shadow: 0 0 5px grey;
  background-color: #0da7de;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  margin: 15px 0;
  justify-content: space-between;
}

.main-inner ul li * {
  font-size: 20px;
  color: whitesmoke;
}

.main-inner ul li .todo {
  width: 100%;
}

.main-inner ul li .btns {
  width: auto;
  display: flex;
  padding: 5px 0;
  justify-items: center;
  align-items: flex-end;
  justify-content: flex-end;
}

.main-inner ul li .edit-mode {
  outline: none;
  border: none;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 3px;
  color: #0da7de;
  font-weight: lighter;
  padding: 0 5px;
}

.main-inner ul li button {
  margin-left: 5px;
  width: 65px;
  max-height: 30px;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 3px;
  color: #ff9600;
  box-shadow: 0 1.5px #999;
  transition: color 0.7s ease-in-out;
}

.main-inner ul li .save {
  margin: 0 20px;
}

.main-inner ul li button:active {
  background-color: #ff9600;
}
